02\ -\ Analise\ exploratoria/dados/*
02\ -\ Analise\ exploratoria/src/.ipynb_checkpoints/*
02\ -\ Analise\ exploratoria/src/Untitled.ipynb
02\ -\ Analise\ exploratoria/src/saida*
**/dados/*
**/src/.ipynb_checkpoints/*